* {
  margin: 0;
  padding: 0;
}
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700 */

.josefin-sans-uniquifier {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body {
  font-family: "Josefin Sans", "sans-serif";
  margin: 0;
  padding: 0;
}
.container {
  padding: 0;
  margin: 0;
}

.home {
  background: linear-gradient(to right, #0a2756, #0b0c23);
  background-size: cover;
  background-repeat: no-repeat;
  height: 735px;
}
/* Home page */
.header {
  margin: 0px 20px 0 20px;
  padding-top: 10px;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}
.header ul {
  list-style: none;
  color: white;
}
.header nav a {
  color: white;
  text-decoration: none;
}
.header img {
  margin-left: 100px;
}
.menu {
  width: 600px;
  margin: 10px 0px 10px 0px;
  padding-left: -50px;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
}
.menu .icon {
  display: none;
}
.button {
  width: 200px;
  height: 50px;
  background-color: #0b0c23;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  margin-right: 50px;
}
.article {
  display: flex;
  position: relative;
}
.article-1 {
  width: 520px;
  margin: 120px;
  color: white;
  position: absolute;
  z-index: 1;
}
.article-1 h1 {
  font-size: 65px;
}
.article-1 p {
  font-size: large;
  margin: 30px 0 50px 0;
}
.article-1 button {
  background: linear-gradient(to bottom, #f75b92, #f96671);
  border: red;
  font-weight: bolder;
  font-size: 1em;
  z-index: 1;
}
.article-2 img {
  height: 600px;
  width: 1000px;
  display: flex;
  position: absolute;
  right: 0;
  left: 48%;
  margin-right: 300px;
  transform: translate(-45%, 1%);
}

/* Services Page */
.services {
  background-color: #ffffff;
  border: px solid black;
  height: 650px;
  /* width: 1515px; */
}
.topic {
  width: 500px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.topic h2 {
  color: rgb(237, 96, 143);
  margin: 20px 0;
}
.topic h1 {
  color: #232f56;
  font-size: 40px;
}
.services-1 {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 120px;
  color: #233163;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}
.services-1-1 {
  width: 300px;
  height: 300px;
  padding: 00px 0 0 20px;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-content: center;
}
.services-1-1 i {
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 2px 2px 2px 2px #f8f8fa;
  border-radius: 35px;
  padding-top: 10px;
  width: 75px;
  height: 75px;
}
.services-1-1-1 {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
.services-1-1-1 h2 {
  margin: 20px 0;
}
.services-2 {
  background-color: #f6f9fc;
  height: 729px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.notification {
  background-color: #ffffff;
  width: 350px;
  height: 100px;
  margin-top: 350px;
  margin-right: 00px;
  margin-left: -300px;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
}
.notification-11 {
  background-color: #fdecf5;
  border: 1px solid #fdecf5;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin-left: 20px;
  margin-top: 25px;
}
.notification-1 {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  justify-content: center;
}
.services-2 img {
  margin-left: 110px;
  margin-top: 100px;
}
.services-2-1 {
  width: 450px;
  color: #232f56;
  margin-right: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.heading {
  font-size: 30px;
  margin-top: 50px;
}
.services-2 button {
  background: linear-gradient(to bottom, #f75b92, #f96671);
  border: red;
  font-weight: bolder;
  font-size: 1em;
  margin-bottom: 40px;
}
.services-2-1-1 {
  display: flex;
}
.services-2-1-1 i {
  background: #ffffff;
  padding-top: 10px;
  text-align: center;
  border: 1px solid #d5d2d2;
  border-radius: 5px;
  height: 70px;
  width: 80px;
}
.services-2-1-1-1 {
  margin-left: 25px;
}

.about {
  background: linear-gradient(to right bottom, #0c0c20, #0a2756);
  height: 729px;
  color: #ffffff;
}
.about-1 {
  height: 40%;
  margin: 0px 100px 0 100px;
  display: flex;
  justify-content: space-between;
}
.about-1-1 {
  width: 40%;
}
.about-1-1 h1 {
  font-size: 45px;
}
.about-1-1 h3 {
  color: #d75186;
  margin: 80px 0 5px 0;
}
.about-1-2 {
  width: 35%;
  font-size: 20px;
  margin: auto 0 auto;
}

.about-2 {
  text-align: center;
  margin: 0px 100px 0 100px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}
.about-2-1 {
  border: 1px solid #2f345d;
  width: 300px;
  height: 250px;
}
.about-2-1 i {
  margin: 50px 0;
}
.about-p {
  text-align: center;
  margin-top: 60px;
  font-size: 20px;
}
.about-p a {
  color: #ffffff;
}

.case-study-1 {
  border-bottom: 2px solid #d5d2d2;
  height: 729px;
}
.case-study-1-1 {
  color: #232f56;
  width: 700px;
  height: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  margin: 0 auto auto auto;
}
.case-study-1-1 h1 {
  font-size: 45px;
  margin-top: 120px;
  margin-bottom: 0px;
}
.case-study-1-1 button {
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #d75186;
  color: #d75186;
  font-size: 1em;
}
.case-study-1-2 {
  text-align: center;
  margin: 30px 100px 0 100px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
}
.case-study-1-2 {
  height: 60%;
  color: #232f56;
}
.case-study-1-2-1 h1 {
  margin: 20px 0;
  font-size: 70px;
}
.case-study-2 {
  height: 729px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.case-study-2-1 {
  width: fit-content;
  display: flex;
  margin: 0 auto;
}
.case-study-2 h1 {
  margin: 120px 0 60px 0;
  font-size: 45px;
  color: #232f56;
}
.case-study-2-2 {
  display: flex;
  justify-content: space-around;
}
.case-study-2-2-1 {
  width: 350px;
  height: 290px;
  background-image: url(secuirity-link1.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.8;
}
.case-study-2-2-2 {
  width: 350px;
  height: 290px;
  background-image: url(secuirity-link2.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.8;
}
.case-study-2-2-3 {
  width: 350px;
  height: 290px;
  background-image: url(secuirity-link3.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.8;
}
.case-study-2-2-1-1 {
  color: #232f56;
  margin-top: 40px;
  font-size: 20px;
}
.case-study-2-2-1-1 h3 {
  text-align: start;
}
.case-study-3 {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.blog {
  height: 700px;
  background-image: url(video.png);
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(200%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-1 {
  height: 400px;
  width: 500px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.blog i {
  width: 80px;
  height: 70px;
  background: linear-gradient(to bottom, #f75b92, #f96671);
  border: 2px solid white;
  border-radius: 45px;
  text-align: center;
  padding: 15px 0 0 10px;
  margin-top: 0px;
}
.blog button {
  color: #d75186;
  background-color: #ffffff;
  font-weight: bolder;
  font-size: 1em;
  margin-left: 100px;
}

.contacts {
  height: 500px;
  margin: auto 0 auto 0;
  font-weight: 600;
  color: #232f56;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contacts-1 {
  width: 380px;
  height: 300px;
  margin: auto 0 auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts-1 img {
  width: 128px;
  height: 39px;
}
.contacts-1 a {
  color: #232f56;
}
.contacts-2 {
  height: 300px;
  margin: auto 0 auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts-2 a {
  color: #232f56;
  text-decoration: none;
}
.contacts-3 {
  height: 300px;
  margin: auto 0 auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts-4 {
  width: 360px;
  height: 300px;
  margin: auto 0 auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.email {
  width: 340px;
  height: 45px;
  font-size: 16px;
  padding-left: 10px;
  border-radius: 25px;
}
.contacts-4-1 {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.contacts-4-1 a {
  color: #183153;
}
.footer {
  height: 50px;
  margin-bottom: auto;
  text-align: center;
}

@media screen and (max-width: 1212px) {
  .services {
    height: 1000px;
  }
  .services-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .notification {
    width: 490px;
    margin-top: 44.5%;
    margin-right: 00px;
    margin-left: -42.5%;
    margin-bottom: 00px;
  }
  .services-2-1 {
    margin-left: 0%;
  }
  .about {
    height: 1100px;
  }
  .about-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media screen and (max-width: 1159px) {
  .services-2 {
    height: 1458px;
  }
}

@media screen and (max-width: 1080px) {
  .home {
    height: 500px;
  }
  .article-2 img {
    height: 350px;
    width: 600px;
    position: absolute;
    right: 0;
    left: 48%;
    margin-right: 300px;
    transform: translate(-20%, 15%);
  }
  .case-study-2 {
    height: 1200px;
  }
  .case-study-2-2 {
    flex-wrap: wrap;
    gap: 60px;
  }
  .contacts {
    flex-wrap: wrap;
    margin-top: 50px;
    height: fit-content;
    gap: 50px;
  }
  .footer {
    margin-top: 20px;
  }
}

@media screen and (max-width: 950px) {
  .home {
    height: 500px;
  }
  .menu {
    display: none;
  }
  .article-2 img {
    height: 250px;
    width: 500px;
    position: absolute;
    right: 0;
    left: 48%;
    margin-right: 300px;
    transform: translate(-25%, 30%);
  }
  .article-1 {
    width: 400px;
    margin: 120px;
    color: white;
    position: absolute;
    z-index: 1;
  }
  .article-1 h1 {
    font-size: 40px;
    font-weight: bold;
  }
  .services {
    height: 1350px;
  }
  .services-1 {
    gap: 30px;
    justify-content: center;
  }
  .case-study-1 {
    height: 1000px;
  }
  .case-study-1-2 {
    flex-wrap: wrap;
    gap: 20px;
  }
  .case-study-2-1 h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 813px) {
  .about {
    height: 1700px;
  }
  .about-1 {
    height: 500px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .about-1-1 {
    width: 100%;
  }
  .about-1-2 {
    width: 100%;
  }
  .about-2 {
    justify-content: center;
  }
  .about-2-1 {
    width: 500px;
  }
  .case-study-1-1 {
    width: 500px;
  }
  .case-study-1-1 h1 {
    width: fit-content;
    font-size: 30px;
  }
  .case-study-2 {
    height: 1600px;
  }
  .case-study-2-1 {
    text-align: center;
    gap: 50px;
  }
  .case-study-2-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services-2-1 {
    margin: 0 auto 0 auto;
  }
  .notification {
    width: 490px;
    margin-top: 66.2%;
    margin-right: 00px;
    margin-left: -86%;
    margin-bottom: 00px;
  }
}
@media screen and (max-width: 769px) {
  .article-2 img {
    display: none;
  }
  .case-study-1 {
    height: 1500px;
  }
  .case-study-1-1 {
    height: 600px;
  }
  .case-study-1-2 {
    flex-direction: column;
    justify-content: space-around;
  }
}
@media screen and (max-width: 650px) {
  .header img {
    margin: 0;
  }
  .article-1 {
    margin: 120px 0 0 4%;
  }
  .services-2 img {
    margin: 100px auto auto auto;
  }
  .img-1 img {
    width: 400px;
  }

  .notification {
    width: 400px;
    margin-top: 72%;
    margin-right: 00px;
    margin-left: -100%;
    margin-bottom: 00px;
  }
  .topic {
    width: fit-content;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .topic h2 {
    color: rgb(237, 96, 143);
    margin: 20px 0;
  }
  .topic h1 {
    color: #232f56;
    font-size: 30px;
  }
  .about {
    height: 1750px;
  }
  .about-1 {
    height: 500px;
    margin: 0;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
  }
  .about-1-1 {
    width: 100%;
  }
  .about-1-2 {
    width: 100%;
  }
  .about-2 {
    justify-content: start;
    margin: 0 1% 0 2%;
  }
  .about-2-1 {
    width: 500px;
  }
}
@media screen and (max-width: 520px) {
  .sub-header button {
    display: none;
  }
  .img-1 img {
    width: 100%;
    max-width: 399px;
  }

  .notification {
    width: 400px;
    margin-top: 72%;
    margin-right: 00px;
    margin-left: -100%;
    margin-bottom: 00px;
  }
  .case-study-1-1 {
    width: fit-content;
  }
}
@media screen and (max-width: 419px) and (min-width: 319px) {
  /* .services-1-1{
    width: fit-content;
  } */
  .article-1 {
    width: fit-content;
  }
  .article-1 h1 {
    font-size: 25px;
  }
  .topic h1 {
    font-size: 25px;
  }
  .services-1-1 {
    margin: 0 0 0 0;
    width: fit-content;
    gap: 10px;
  }
  .services-1-1 h2 {
    font-size: 16px;
  }
  .services-1-1-1 {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  .notification {
    width: 320px;
    height: 75px;
    margin-top: -76%;
    margin-right: 00px;
    margin-left: 3%;
    margin-bottom: 00px;
  }
  .notification-11 {
    background-color: #fdecf5;
    border: 1px solid #fdecf5;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .case-study-2-2 {
    display: flex;
    justify-content: space-around;
  }
  .case-study-2-2-1 {
    width: 300px;
    height: 290px;
    background-image: url(secuirity-link1.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
  }
  .case-study-2-2-2 {
    width: 300px;
    height: 290px;
    background-image: url(secuirity-link2.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
  }
  .case-study-2-2-3 {
    width: 300px;
    height: 290px;
    background-image: url(secuirity-link3.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
  }
  .case-study-2-2-1-1 {
    margin-top: -20px;
  }
  .case-study-2-2-1-1 h3 {
    text-align: start;
    font-size: 16px;
  }
  .blog-1 h1 {
    font-size: 20px;
  }
  .contacts {
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 50px;
    height: fit-content;
    gap: 60px;
    justify-content: start;
  }
  .contacts-1 {
    width: 260px;
    height: 300px;
    margin: auto 0 auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .contacts-1 h1{
    font-size: 25px;
  }
  .contacts-2 h1{
    font-size: 25px;
  }
  .contacts-3 {
    height: 300px;
    margin: auto 0 auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .contacts-3 h1{
    font-size: 25px;
  }
  .contacts-4 {
    width: 260px;
    height: 300px;
    margin: auto 0 auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .contacts-4 h1{
    font-size: 25px;
  }
  .email {
    width: 300px;
    height: 45px;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 25px;
  }
}
/* @media screen and (max-width: 1480px) {
  .article-2 img {
    height: 600px;
    width: 1000px;
    position: absolute;
    top: 0;
    right: 0;
    left: 40%;
    transform: translate(-20%, 0%);
  }
}

@media screen and (max-width: 1400px) {
  .menu a {
    display: flex;
  }
  .article-2 img {
    height: 600px;
    width: 950px;
    position: absolute;
    top: 0;
    right: 0;
    left: 40%;
    transform: translate(-25%, 0);
  }
}
@media screen and (max-width:1275px) {
  .article-2 img {
    height: 600px;
    width: 950px;
    position: absolute;
    top: 0;
    right: 0;
    left: 40%;
    transform: translate(-30%, 0);
  }
}
@media screen and (max-width: 1212px) {
  .home{
    height: 650px;
  }
  .article-2 img {
    height: 500px;
    width: 800px;
    position: absolute;
    top: 0;
    right: 0;
    left: 40%;
    transform: translate(-18%, -0%);
  }
  .services-2 {
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
/* } */
/* .notification {
    width: 490px;
    margin-top: 44.5%;
    margin-right: 00px;
    margin-left: -42.5%;
    margin-bottom: 00px;
  
  }
  .services-2-1{
    margin-left: 0%;
  }
  .about{
    height: 1100px;
  }
  .about-2{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media screen and (max-width:1150px) {
  .home{
    height: 600px;
  }
  .article-2 img {
    height: 400px;
    width: 700px;
    position: absolute;
    top: 0;
    right: 0;
    left: 40%;
    transform: translate(-15%, 1%);
  }
} 
@media screen and (max-width: 1061) {
  .article-2 img {
    position: absolute;
    top: 0;
    right: 0;
    left: 10%;
    transform: translate(-13%, 0%);
  }
}
@media screen and (max-width:1200px) {
  .services{
    height: 1000px;
  }
}
@media screen and (max-width:1159px) {
  .services-2{
    height: 1458px;
  }
} */
/* @media screen and (max-width: 1171px) {
  .menu a:not(:first-child) {display: none;}
  .menu a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1171px) {
  .menu.responsive {position: relative;}
  .menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */
/* @media screen and (max-width:1066px) {
  .article-2 img {
    position: absolute;
    top: 0;
    right: 0;
    left: 10%;
    transform: translate(25%, 0%);
  }
  .case-study-2{
    height: 1200px;
  }
  .case-study-2-2{
    flex-wrap: wrap;
    gap: 60px;
  }
} */
/* @media screen and (max-width:1050px) {
  .case-study-2{
    height: 1200px;
  }
  .case-study-2-2{
    flex-wrap: wrap;
    gap: 60px;
  }
} */
/* @media screen and (max-width:1035px) {
  .article-2 img {
    position: absolute;
    top: 0;
    right: 0;
    left: 10%;
    transform: translate(14%, 0%);
  }

  .contacts{
    flex-wrap: wrap;
    margin-top: 50px;
    height: fit-content;
    gap: 50px;
  }
  .footer{
    margin-top: 20px;
  }
}
@media screen and (max-width:995px) {
  .article-2 img {
    position: absolute;
    top: 0;
    right: 0;
    left: 10%;
    transform: translate(15%, 0%);
  }
}
@media screen and (max-width:920px) {
  .article-2 img {
    position: absolute;
    top: 0;
    right: 0;
    left: 10%;
    transform: translate(0, 0%);
  }
}
@media screen and (max-width:879px) {
  .services{
    height: 1350px;
  }
  .services-1{
    justify-content: center;
  }
  .case-study-1{
    height: 1000px;
  }
  .case-study-1-2{
    flex-wrap: wrap;
  }
}
@media screen and (max-width:860px) {
  .article-2 img {
    position: absolute;
    top: 0;
    right: 0;
    left: 10%;
    transform: translate(0%, 0%);
  }
}
@media screen and (max-width:830px) {
  .about{
    height: 1700px;
  }
  .about-1{
    height: 500px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .about-1-1{
    width: 100%;
  }
  .about-1-2{
    width: 100%;
  }
  .about-2{
    justify-content: center;
  }
  .about-2-1{
    width: 500px;
  }
}
@media screen and (max-width:800px) {
  .article-2 img{
    display: none;
  }
  .case-study-1-1{
    width: 500px;
  }
  .case-study-2{
    height: 1600px;
  }
  .case-study-2-1{
    width: 500px;
    text-align: center;
  }
  .case-study-2-2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services-2-1{
    margin: 0 auto 0 auto;
  }
  .notification {
    width: 490px;
    margin-top: 70%;
    margin-right: 00px;
    margin-left: -85.5%;
    margin-bottom: 00px;
  
  }

  .menu{
    display: none;
  }
}
@media screen and (max-width:723px) {
  .services-2-1{
    margin: 0 auto 0 200px;
    text-align: start;
  }
  .case-study-1{
    height: 1500px;
  }
  .case-study-1-1{
    height: 600px;
  }
  .case-study-1-2{
    flex-direction: column;
    justify-content: space-around;
  }
} */
